# Append Function

In [3]:
import pandas as pd
df1 = pd.DataFrame({'A': [1,2,3],
                   'B': [10,20,30]})
 
 
df2 = pd.DataFrame({'A': [4,5,6],
                   'B': [40,50,60]})
 
display(df1 ,df2)

   A   B
0  1  10
1  2  20
2  3  30

   A   B
0  4  40
1  5  50
2  6  60

In [4]:
df1.append(df2)

C:\Users\AKASH\AppData\Local\Temp\ipykernel_7116\3062608662.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2)

   A   B
0  1  10
1  2  20
2  3  30
0  4  40
1  5  50
2  6  60

In [6]:
df1.append(df2,ignore_index=True)

C:\Users\AKASH\AppData\Local\Temp\ipykernel_7116\2717680053.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2,ignore_index=True)

   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50
5  6  60

In [7]:
df1.append(df2, ignore_index = True, sort = False)

C:\Users\AKASH\AppData\Local\Temp\ipykernel_7116\2034261835.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2, ignore_index = True, sort = False)

   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50
5  6  60