In [1]:
import pandas as pd

In [2]:
emp = {
    'ID':[123,45,32],
    'Name':['AK','ka','we'],
    'Roll':[23,45,322]
}

# pd.DataFrame?

In [6]:
pd.DataFrame(emp)

    ID Name  Roll
0  123   AK    23
1   45   ka    45
2   32   we   322

# coloms

In [13]:
colsdata = ['ID','Name','Roll','SN']
df1 = pd.DataFrame(columns=colsdata)

In [14]:
df1

Empty DataFrame
Columns: [ID, Name, Roll, SN]
Index: []

In [19]:
df1.append({'ID':101,'Name':'AK','Roll':2,'SN':20},ignore_index=True)

C:\Users\AKASH\AppData\Local\Temp\ipykernel_9500\1710033829.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append({'ID':101,'Name':'AK','Roll':2,'SN':20},ignore_index=True)

    ID Name Roll  SN
0  101   AK    2  20

In [26]:
df2=df1.append({'ID':102,'Name':'AKash','Roll':22,'SN':202},ignore_index=True)

C:\Users\AKASH\AppData\Local\Temp\ipykernel_9500\1637041923.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2=df1.append({'ID':102,'Name':'AKash','Roll':22,'SN':202},ignore_index=True)

In [27]:
df1

Empty DataFrame
Columns: [ID, Name, Roll, SN]
Index: []

In [28]:
pd.concat(df1+df2)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"