# header , prefix and names

In [1]:
import pandas as pd

In [16]:
pd.read_csv('train.csv',header=None)
# df.columns=4

   0  1    2    3
0  1  2    6    4
1  a  0  123  all
2  b  1   45   ka
3  c  2   32   we

In [17]:
# pd.read_csv('train.csv',header=1)

In [21]:
df = pd.read_csv('train.csv',header=None,prefix='columns')

C:\Users\AKASH\AppData\Local\Temp\ipykernel_19196\2096624863.py:1: FutureWarning: The prefix argument has been deprecated and will be removed in a future version. Use a list comprehension on the column names in the future.


  df = pd.read_csv('train.csv',header=None,prefix='columns')

In [22]:
df

  columns0  columns1  columns2 columns3
0        1         2         6        4
1        a         0       123      all
2        b         1        45       ka
3        c         2        32       we

In [26]:
df.columns=["a",'x','xr','w']

In [27]:
df

   a  x   xr    w
0  1  2    6    4
1  a  0  123  all
2  b  1   45   ka
3  c  2   32   we

# using name

In [28]:
pd.read_csv('train.csv',names=['a','b','c','d'])

   a  b    c    d
0  1  2    6    4
1  a  0  123  all
2  b  1   45   ka
3  c  2   32   we