# write to a csv file

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('C:\\Users\\AKASH\\Pandas_for_ML\\train.csv')
df

     1         2    5 Unnamed: 3
0  NaN  train no   ID       Name
1    a         0  123        all
2    b         1   45         ka
3    c         2   32         we

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.columns

Index(['1', '2', '5', 'Unnamed: 3'], dtype='object')

In [5]:
df=pd.read_csv('C:\\Users\\AKASH\\Pandas_for_ML\\train.csv',nrows=2)
df

     1         2    5 Unnamed: 3
0  NaN  train no   ID       Name
1    a         0  123        all

In [6]:
df.head(2)

     1         2    5 Unnamed: 3
0  NaN  train no   ID       Name
1    a         0  123        all

In [7]:
df=pd.read_csv('C:\\Users\\AKASH\\Pandas_for_ML\\train.csv',usecols=[2])
df

     5
0   ID
1  123
2   45
3   32

In [8]:
df=pd.read_csv('C:\\Users\\AKASH\\Pandas_for_ML\\train.csv',usecols=[1,2])
df

          2    5
0  train no   ID
1         0  123
2         1   45
3         2   32

In [9]:
df

          2    5
0  train no   ID
1         0  123
2         1   45
3         2   32

In [10]:
# for skip rows through number
df=pd.read_csv('C:\\Users\\AKASH\\Pandas_for_ML\\train.csv',skiprows=1)
df

  Unnamed: 0  train no   ID Name
0          a         0  123  all
1          b         1   45   ka
2          c         2   32   we

In [11]:
# for skip rows through index
df=pd.read_csv('C:\\Users\\AKASH\\Pandas_for_ML\\train.csv',skiprows=[0])
df

  Unnamed: 0  train no   ID Name
0          a         0  123  all
1          b         1   45   ka
2          c         2   32   we

# for index any col

In [14]:
df=pd.read_csv('C:\\Users\\AKASH\\Pandas_for_ML\\train.csv',index_col='ID')
df

    Unnamed: 0  train no Name
ID
123          a         0  all
45           b         1   ka
32           c         2   we